a {
  text-decoration: none;
  color: #fff;
}
h1 {
  margin: 0;
  font-size: 30px;
  margin-left: 5px;
}
.icon {
  cursor: pointer;
}
.home {
  height: 100vh;
  color: #fff;
  background-color: #172627;
  font-family: "Ubuntu", sans-serif;
}

.push {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.head {
  background-color: #172627;
  height: 5vh;
  padding: 20px;
  display: flex;
  align-items: center;
}

.logo {
  margin: 0;
  float: left;
  display: flex;
}
.reports,
.login {
  margin: 5px;
}

.timerBody {
  height: 75vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 24px;
}
.timerBody2 {
  box-shadow: 0px 0px 10px 0px #20cd8d;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customizationButton {
  margin-bottom: 35px;
}

.focus {
  font-size: 30px;
  padding-bottom: 20px;
}

.timer {
  font-size: 75px;
  margin: 20px;
  padding: 20px 40px;
  box-shadow: #20cd8d 0px 0px 2px 0px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px #20cd8d;
}

.duo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.startButton {
  background-color: #20cd8d;
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 20px;
  border-radius: 35px;
  cursor: pointer;
  margin-top: 30px;
}
.startButton:hover {
  box-shadow: 0px 0px 10px 0px #0f744f;
}

.addTask {
  text-align: center;
  padding: 12.5px;
  display: flex;
  color: #20cd8d;
  align-items: center;
  justify-content: center;
  background-color: #172627;
}
