body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  background-color: #172627;
  color: #fff;
}
h1 {
  font-size: 25px;
}
.reports {
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  background-color: #172627;
  height: 80vh;
  margin: 20px auto;
  width: 30vw;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  box-shadow: #20cd8d 0px 0px 15px 0px;
}

hr {
  width: 90%;
  border: 1px solid #20cd8d;
}

.totalHoursComponents,
.avgHoursComponents,
.tasksCompleted {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.component {
  margin: 10px;
}

.hoursSpent {
  border-radius: 10px;
  font-size: 20px;
  margin: 7px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: #20cd8d 0px 0px 5px 0px;
}

.total {
  width: 110px;
}

.avg {
  width: 80px;
}

.avgHoursTitle,
.totalHoursTitle {
  text-align: center;
}

.hours {
  margin: 8px;
}
